.heure8{
    border-left:1px solid black;
}
.nbsp{
    padding:20px;
}
.underline{
    border-bottom: 1px solid black;
}
.bordered{
    border: 1px solid #000000;
}
.quick{
    margin-left:5px;
    border-bottom: 1px solid black;
}